@use 'styles/utils' as *;

.heading {
  font-family: $font-serif;
  font-weight: normal;

  &--h1 {
    font-size: 32px;
  }

  &--h2 {
    font-size: 28px;
  }

  &--h3 {
    font-size: 24px;
  }

  &--h4 {
    font-size: 20px;
  }
}
