%heading {
  font-family: $font-serif;
  font-weight: normal;
}

%heading--h1 {
  font-size: 1.875rem;
}

%heading--h2 {
  font-size: 1.5rem;
}

%heading--h3 {
  font-size: 1.25rem;
}

%heading--h4 {
  font-size: 1.125rem;
}
