{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "linebreak-style": 0,
    "no-new": 0,
    "no-plusplus": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "location": true
  }
}
