@import '../../styles/variables.css';

.button {
  background-color: #eee;
  color: var(--body-font-color);
  border: 0;
  padding: 1em;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #ddd;
  }
  @media (--medium) {
    padding: 1.2em;
  }
}
