.button {
  background-color: #efefef;
  color: var(--body-font-color);
  border: 1px solid #ddd;
  padding: 0.75rem;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  transition: all 300ms ease;

  &:hover {
    background-color: #e5e5e5;
  }

  &__hit {
    transform: rotate(-360deg);
  }

  @media (--medium) {
    padding: 1rem;
  }
}
