<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="UTF-8">
  <title>starbase - a webpack, ES6 &amp; PostCSS boilerplate for web developers</title>
  <meta name="description" content="starbase: webpack 4 boilerplate w/ Babel (ES6), ESLint, PostCSS, PostCSS Preset Env, stylelint &amp; more">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fefefe">
</head>
<body>
<!-- header -->
<header role="banner" class="header">
  <div class="header__brand">
    <img src="images/starbase.png" alt="starbase logo" class="header__image" />
    <h1 class="header__title">starbase</h1>
  </div>
  <p>starbase is an open source webpack 4, Babel (ES6) & PostCSS boilerplate for web developers, with a small footprint and plenty of room for cream and sugar-- make it your own!</p>
</header>

<!-- main content area -->
<main class="rich-text">
  <section>
    <h2>Why it's here</h2>
    <p>starbase was created in early 2017, shortly after webpack 2 was released and it became clear that many popular development boilerplates were not being maintained or upgraded to the latest versions of the software they were built to utilize.</p>
    <p>The primary mission of starbase is to provide an elegant but simple baseline development process that generates clean, production-ready assets while being bloat-free and easy to maintain.</p>
  </section>

  <section>
    <h2>What it does</h2>
    <p>starbase enables developers to spin up new projects and begin coding within minutes instead of hours. It is ready, right out of the box, to watch your code during development and can handle production builds when you're ready to integrate and/or deploy.</p>
    <p>The <code>dev</code> command uses <a href="https://github.com/webpack/webpack-dev-server" title="webpack-dev-server on github">webpack-dev-server</a> to serve up your project on a development server (localhost) which will recompile and lint as you modify the source. You can even access this web server via LAN, with a static IP, for testing your app on multiple devices.</p>
    <p>The <code>build</code> command will compile production-ready (linted, minified &amp; optimized) assets that can be integrated into your CMS theme or used as a standalone static website.</p>
  </section>

  <section>
    <h2>Who it's for</h2>
    <p>starbase is open source and completely free for personal or commercial use. It is a personal project-- a living code styleguide and outlet for technical exploration that you can make your own if you dig it. Pick it up, check it out and make it do a barrel roll.</p>
    <p>If you encounter any problems along the way, please be sure to <a href="https://github.com/bstaruk/starbase/issues" title="report an issue with starbase on github">report an issue</a> on GitHub and it'll likely be taken care of faster than you think!</p>
  </section>
</main>

<!-- footer -->
<footer role="contentinfo" class="footer">
  <p>crafted in boston by <a href="https://brian.staruk.me" title="continue to brian.staruk.me" class="h-card">brian staruk</a> | <a href="https://github.com/bstaruk/starbase" title="learn more about starbase on github">starbase on github</a></p>
</footer>
</body>
</html>
