/* IMPORTANT: This file is for :root variables only. */

:root {
  /* colors */
  --body-bg-color: #fefefe;
  --body-font-color: #333;
  --anchor-font-color: #2475c1;
  --border-color: #666;

  /* typography */
  --font-sans: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-serif: 'PT Serif', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;

  /* dimensions */
  --body-font-size-range: 0.9rem 1rem;
  --body-font-range: 34rem 48rem;
  --body-width-max: 48rem;

  /* breakpoints */
  @custom-media --small only screen and (min-width: 34rem); /* 544px */
  @custom-media --medium only screen and (min-width: 48rem); /* 768px */
}
