:root {
  /* theme colors */
  --body-bg-color: #fefefe;
  --body-font-color: #333;
  --anchor-font-color: #2472be;
  --anchor-hover-font-color: #23a5f0;

  /* typography */
  --font-sans: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-serif: 'PT Serif', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;

  /* dimensions */
  --body-font-size: responsive 0.9375rem 1.0625rem; /* 15/16 & 17/16 */
  --body-font-size-small: responsive 0.9375rem 1rem; /* 15/16 & 16/16 */
  --body-font-range: 34rem 48rem;/* 544/16, 768/16 */
  --body-width-max: 48rem; /* 768/16 */
}

/* breakpoints */
@custom-media --small (min-width: 34em); /* 544/16 */
@custom-media --medium (min-width: 48em); /* 768/16 */
