@import "../../app/utilities.css";

:root {
  --tabs-list-height-small: 2rem;
  --tabs-list-height-full: 2.5rem;
  --tabs-border-color: #ccc;
  --tabs-border-color-hover: #ddd;
  --tabs-active-color: #de3f14;
}

.tabs {
  position: relative;

  @media (--medium) {
    padding-top: var(--tabs-list-height-full);
  }

  /* tabs list */
  &__list {
    @extend .clearfix; /* postcss-extend, dig it! */

    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (--medium) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: var(--tabs-list-height-full);
      border-bottom: 2px solid var(--tabs-border-color);
    }

    & > li {
      float: left;
      margin: 0.5rem 0.5rem 0 0;

      @media (--medium) {
        margin: 0;
        height: var(--tabs-list-height-full);
      }

      & > a {
        position: relative;
        display: block;
        height: var(--tabs-list-height-small);
        line-height: var(--tabs-list-height-small);
        text-decoration: none;
        padding: 0 0.5rem;
        background-color: var(--tabs-border-color-hover);
        color: var(--body-font-color);
        transition:
          background-color 300ms ease,
          color 300ms ease;

        @media (--medium) {
          background-color: transparent;
          height: var(--tabs-list-height-full);
          line-height: var(--tabs-list-height-full);
          padding: 0 1rem;
        }

        &::after {
          @media (--medium) {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            transition: background-color 300ms ease;
          }
        }

        &.tabs__list--active,
        &.tabs__list--active:hover {
          background-color: var(--tabs-active-color);
          color: white;

          @media (--medium) {
            background-color: transparent;
            color: var(--tabs-active-color);
          }

          &::after {
            background-color: var(--tabs-active-color);
          }
        }

        &:hover {
          &::after {
            background-color: #a0a0a0;
          }
        }
      }

      &:first-of-type {
        & > a {
          @media (--medium) {
            padding-left: 0;
          }
        }
      }
    }
  }

  /* tabs content wrappers */
  &__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 400ms ease;

    &--active,
    .no-js & {
      max-height: none;
      opacity: 1;
    }

    .no-js & {
      border-bottom: 1px solid var(--tabs-border-color);

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}
