:root {
  --tabs-list-height-full: 2.5rem;
}

.tabs {
  position: relative;
  padding-top: var(--tabs-list-height-full);

  /* tabs list */
  &__list {
    position: absolute;
    left: 0;
    top: 0;
    height: var(--tabs-list-height-full);
    list-style-type: none;
    margin: 0;
    padding: 0;

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    & > li {
      float: left;
      height: var(--tabs-list-height-full);

      & > a {
        position: relative;
        display: block;
        height: var(--tabs-list-height-full);
        line-height: var(--tabs-list-height-full);
        text-decoration: none;
        padding: 0 1rem;
        transition: color 300ms ease;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          transition: background-color 300ms ease;
        }

        &.tabs__list--active,
        &.tabs__list--active:hover {
          color: #de3f14;

          &::after {
            background-color: #de3f14;
          }
        }

        &:hover {
          &::after {
            background-color: #aaa;
          }
        }
      }

      &:first-of-type {
        & > a {
          padding-left: 0;
        }
      }
    }
  }

  /* tabs content wrappers */
  &__content {
    max-height: 0;
    overflow: hidden;

    &--active {
      border-top: 2px solid var(--border-color);
      max-height: none;
    }
  }
}
