* {
  box-sizing: border-box;
}

body {
  background-color: $color-white;
  color: $color-dark-grey;
  font-family: $font-sans;
  font-size: 0.95rem;
  line-height: 1.4;
  margin: 0 auto;
  max-width: $d-body-width-max;
  padding: 1rem;

  @include for-tablet {
    font-size: 1rem;
    padding-top: 2rem;
  }
}
