/* Colors */
$color-white: #fefefe;
$color-silver: #ccc;
$color-grey: #888;
$color-dark-grey: #333;
$color-red: #cc283d;
$color-orange: #ee763a;
$color-green: #2ba667;
$color-blue: #2472be;
$color-purple: #861bbb;

/* Fonts */
$font-sans: 'PT Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'PT Serif', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', 'Georgia', serif;

/* Dimensions */
$d-body-width-max: 48rem; /* 768/16 */
