@import 'styles/link';

.footer {
  border-top: 1px solid $color-silver;
  color: $color-grey;
  margin-top: 2.5rem;

  @media (--medium) {
    font-size: 0.9em;
  }

  a {
    @extend .link;
    @extend .link--grey;
  }
}
