@import './atoms/link';
@import './atoms/list';

.header {
  &__brand {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &__image {
    height: 2rem;
    margin-right: 0.75rem;

    @include for-tablet {
      height: 2.5rem;
    }
  }

  &__title {
    font-family: $font-serif;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: normal;
    margin: 0;
  }

  &__features {
    @extend %list--unordered;

    a {
      @extend %link;
      @extend %link--cyan;
    }
  }
}
