@import 'styles/code';
@import 'styles/heading';
@import 'styles/list';

.main {
  section {
    border-bottom: 1px solid $color-silver;
    padding-bottom: 0.5em;
  }

  h1 {
    @extend .heading--h2;
  }

  h2 {
    @extend .heading--h2;
  }

  h3 {
    @extend .heading--h3;
  }

  h4 {
    @extend .heading--h4;
  }

  h1,
  h2,
  h3,
  h4 {
    @extend .heading;

    margin: 2rem auto 0;

    + h1,
    + h2,
    + h3,
    + h4 {
      margin-top: 1rem;
    }
  }

  code {
    @extend .code;
  }

  pre {
    @extend .pre;
  }

  ol {
    @extend .list--ordered;
  }

  ul {
    @extend .list--unordered;
  }

  li {
    @extend .list__item;
  }
}
