/* Dracula Colors */
$color-background: #282a36;
$color-selection: #44475a;
$color-foreground: #f8f8f2;
$color-comment: #6272a4;
$color-cyan: #8be9fd;
$color-green: #50fa7b;
$color-orange: #ffb86c;
$color-pink: #ff79c6;
$color-purple: #bd93f9;
$color-red: #f55;
$color-yellow: #f1fa8c;

/* Fonts */
$font-sans: 'PT Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'PT Serif', 'Palatino', 'Palatino Linotype', 'Palatino LT STD',
  'Book Antiqua', 'Georgia', serif;

/* Dimensions */
$dm-body-max-width: 768px;

/* Breakpoints */
$breakpoint-mobile: 420px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
