@import "../variables/variables.css";

/*
  This file is here to contain some baseline styles
  but most of your css should live in ../components
 */

* {
  box-sizing: border-box;
}

body {
  max-width: var(--body-width-max);
  background-color: var(--body-bg-color);
  font-family: var(--font-sans);
  font-size: var(--body-font-size);
  font-range: var(--body-font-range);
  letter-spacing: 0.02rem;
  line-height: 1.25;
  color: var(--body-font-color);
  padding: 1rem;
  margin: 0;
}

a {
  color: var(--anchor-font-color);
  transition: color 200ms ease;

  &:hover {
    color: var(--anchor-hover-font-color);
  }
}

input,
button {
  font-family: var(--font-sans);
}
