/*
  This file is here to contain some baseline styles
  but most of your css should live in ../components
 */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--font-sans);
  font-size: responsive var(--body-font-size-range);
  font-range: var(--body-font-range);
  letter-spacing: 0.02rem;
  color: var(--body-font-color);
  padding: 1rem;
  margin: 0;
  max-width: var(--body-width-max);
}

a {
  color: var(--anchor-font-color);
  transition: color 250ms ease;
}

input,
button {
  font-family: var(--font-sans);
}
