/*
  This file is here to contain some baseline styles
  but most of your css should live in ../components
 */

body {
  background-color: var(--body-bg-color);
  font-family: var(--font-sans);
  font-size: 0.9rem;
  color: var(--body-font-color);
  padding: 1rem;
  margin: 0;
}

a {
  color: var(--anchor-font-color);
  transition: color 250ms ease;
}

input,
button {
  font-family: var(--font-sans);
}
