@import "css/link";

.footer {
  margin-top: 2.5rem;
  border-top: 1px solid $color-silver;
  color: $color-grey;

  @media (--medium) {
    font-size: 0.9em;
  }

  a {
    @extend .link;
    @extend .link--grey;
  }
}
