@import 'css/_variables';

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  /* color modifiers */
  &--red { color: var(--color-red); }
  &--orange { color: var(--color-orange); }
  &--green { color: var(--color-green); }
  &--blue { color: var(--color-blue); }
  &--purple { color: var(--color-purple); }
  &--grey { color: var(--color-grey); }
}
