@import "css/_variables";

/*
  This file is here to contain some baseline styles but
  most of your styles should be split up by component
 */

* {
  box-sizing: border-box;
}

body {
  max-width: var(--body-width-max);
  background-color: var(--color-white);
  font-family: var(--font-sans);
  font-size: 0.95rem;
  line-height: 1.4;
  color: var(--color-dark-grey);
  padding: 1rem;
  margin: 0 auto;

  @media (--medium) {
    font-size: 1rem;
    padding-top: 2rem;
  }
}
