@import "./_variables.css";

/*
  This file is here to contain some baseline styles but
  most of your styles should be split up by component
 */

* {
  box-sizing: border-box;
}

body {
  max-width: var(--body-width-max);
  background-color: var(--color-white);
  font-family: var(--font-sans);
  font-size: 0.95rem;
  line-height: 1.4;
  color: var(--color-mine-shaft);
  padding: 1rem;
  margin: 0 auto;

  @media (--medium) {
    font-size: 1rem;
    padding-top: 2rem;
  }
}

a {
  color: var(--color-mariner);
  transition: color 200ms ease;

  &:hover {
    color: var(--color-picton-blue);
  }
}
