<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="UTF-8">
  <title>Hello World | Starbase</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fefefe">
</head>

<body>
  <main class="w-full min-h-screen flex flex-col md:justify-center gap-2 md:gap-4">
    <h1 class="text-center font-serif text-3xl md:text-5xl font-bold tracking-wider">Hello World</h1>
    <p class="text-center font-sans text-lg md:text-xl tracking-wide italic">It's good to be back.</p>
  </main>
</body>

</html>
