<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fefefe">
</head>

<body>
  <div class="w-full flex flex-col justify-center gap-6 sm:gap-8">
    <header class="flex flex-col sm:flex-row items-center justify-center gap-3 sm:gap-4">
      <img src="assets/starbase.png" alt="starbase logo" class="flex-shrink-0 w-auto h-14" />
      <h1 class="text-center font-serif text-4xl sm:text-6xl font-bold tracking-wider">Starbase</h1>
    </header>

    <main class="flex flex-col gap-4 text-center font-sans">
      <p class="text-lg sm:text-xl">Hello World!</p>
      <p class="text-base italic">&lt;!-- TODO: Something cool. --&gt;</p>
    </main>

    <footer class="mx-auto border-t border-gray-300 p-6 sm:px-8">
      <ul class="flex flex-col sm:flex-row items-center justify-center gap-2 sm:gap-4 text-base text-gray-600 text-center">
        <li>crafted by <a href="https://brian.staruk.net" class="hover:underline text-red-600">brian staruk</a></li>
        <li class="hidden sm:block" role="presentation">|</li>
        <li><a href="https://github.com/bstaruk/starbase" class="hover:underline text-red-600">view on github</a></li>
      </ul>
    </footer>
  </div>
</body>

</html>
