/* Ordered Imports */
@import 'styles/utils/variables';
@import 'styles/utils/mixins';
@import 'styles/base/fonts';
@import 'styles/base/reset';
@import 'styles/base/root';

/* Unordered Imports */
@import 'styles/layouts/footer';
@import 'styles/layouts/header';
@import 'styles/layouts/main';
@import 'styles/layouts/repo-details';
