@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/PTSans-Regular.woff2') format('woff2'), url('assets/fonts/PTSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/PTSerif-Regular.woff2') format('woff2'), url('assets/fonts/PTSerif-Regular.woff') format('woff');
}
