@use 'styles/utils' as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  color: $color-foreground;
  font-family: $font-sans;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: $dm-body-max-width;
  padding: 16px;

  @include respond-to('medium') {
    font-size: 17px;
    padding-top: 32px;
  }
}
